@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Listo of Movie";
}

<div class="row">
    @foreach (var movie in Model)
    {
        <div class="card col-md-2 mx-3 " style="width: 18rem;">
            <img src="@Html.DisplayFor(mi => movie.ImageURL)" class="card-img-top" alt="@Html.DisplayFor(mi => movie.ImageURL)">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(mi => movie.Name)</h5>
                <p class="card-text">@Html.DisplayFor(mi => movie.Description)</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@Html.DisplayFor(mi => movie.Cinema.Name)</li>
                <li class="list-group-item">@Html.DisplayFor(mi => movie.MovieCategory)</li>
                <li class="list-group-item">@Html.DisplayFor(mi => movie.StartTime)</li>
                <li class="list-group-item">@Html.DisplayFor(mi => movie.EndTime)</li>
                <li class="list-group-item">
                    <b>Status</b>
                    @if (DateTime.Now >= movie.StartTime && DateTime.Now <= movie.EndTime)
                    {
                        <span class="badge bg-success text-white"> Available</span>
                    }
                    else if (DateTime.Now > movie.EndTime)
                    {
                        <span class="badge bg-danger text-white">Expired</span>
                    }
                    else
                    {
                       <span class="badge bg-primary text-white">Upcoming</span> 
                    }
                </li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    }
</div>
